<!DOCTYPE html>
<input lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add CAPP</title>
</head>
    <input type="file"></input>
    <input type="text"></input>
</body>
</html>