<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPP</title>
</head>
<body>
    <h2>Hi, It's your CAPP assistante</h2>
    <a href="/add-new-capp"><button>Add new rout sheet</button></a>
    <br>
    <br>
    <a href="/find-on-3d-model"><button>Find based on 3D model</button></a>
</body>
</html>